@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Rubik:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
  transition: all 0.3s;
  /* border: 1px dashed green; */
}

.hero {
  background-size: 1250px 1156px;
}

.section2Bg {
  background-size: 360px 514px;
}

.section3Bg {
  background-size: 476px 476px;
}


.secondary-btn:hover {
  background-image: linear-gradient(to right, #FFBD33, #FF7C5F);
  transform: scale(1.1);
  box-shadow: 0 12px 8px -3px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
}

.secondary3-btn:hover {
  background-image: linear-gradient(to right, #a476e9, #f4347b);
  transform: scale(1.1);
  box-shadow: 0 12px 8px -3px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
}

.primary-btn {
  background-image: linear-gradient(to right, #FFBD33, #FF7C5F);
  color: white;
  box-shadow: 0 12px 8px -3px rgba(0, 0, 0, 0.1);
}

.primary-btn:hover {
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(1rem, 1200px) minmax(1rem,
      1fr);
}